__pycache__/
**/__pycache__/
*.pyc

venv/
outervenv/
.venv/

workspace/
working_data/

voxcraft-sim/
voxcraft-viz/

.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb

algorithms/tmp_out/
*.sqlite
*.db

visuals/videos/
*.mp4
*.avi

.DS_Store
.vscode/
.idea/